<h2> News list</h2>
<table class = "table table-striped">
  <thead>
    <tr>
      <th> Name </th>
      <th> Category </th>
      <th> Content </th>
<th>Actions</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let news of newsList">
        <td> {{news.name}}</td>
        <td> {{news.category}}</td>
        <td> {{news.content}}</td>
        <td>
          <button (click)="updateNews(news.id)" class="btn btn-info">Update News</button>
          <button (click)="deleteNews(news.id)" class="btn btn-danger" style="margin-left: 10px">Delete News</button>
        </td>
      </tr>
  </tbody>
</table>
